src/*
*.pyc
*.pyo
*egg-info
.installed.cfg
bin
build
buildout.cfg
develop-eggs
downloads
eggs
etc/*
fake-eggs
parts
var
.mr.developer.cfg
.DS_Store
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
docs/_build
upgrade.py
deploy/test.yml
ANXS.postgresql
upgrade.log
requirements.timestamp

